<!DOCTYPE html>
<html
	th:replace="fragments/admin_layout :: admin_layout(title='User', active_item='User', main=~{::#main})">
<body>
	<div class="container-fluid" id="main">
		<h1 class="h3 mb-2 text-gray-800">User</h1>
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary" th:text="${user.id} == null ? 'Create User' : 'Edit User'">User List</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
			<div class="col-sm-12 col-md-9">
				<form class="user" method="post" th:action="@{/admin/user/save}" th:object="${user}">
					<div class="form-group">
					<label class="control-label">Name</label>
						<input type="text" class="form-control form-control-user"
							id="name" th:field="*{name}" placeholder="Name">
					</div>
					<div class="form-group">
					<label class="control-label">Email</label>
						<input type="text" class="form-control form-control-user"
							id="email" th:field="*{email}" placeholder="Email">
					</div>
					<label class="control-label">Password</label>
					<div class="form-group">
						<input type="password" class="form-control form-control-user"
							id="password" name="password" placeholder="Password">
					</div>
					<div class="form-group">
						<label class="control-label">Roles</label>
						<select class="form-control form-control-user"
								id="roles" th:field="*{roles}" multiple>
							<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${#lists.contains(user.roles, role.id)}"></option>
						</select>
					</div>
					<input type="hidden" th:field="*{id}"/>
					<div th:if="${#fields.hasAnyErrors()}"
						class="alert alert-danger" role="alert">
						<ul class="pl-4 mb-0">
							<li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
						</ul>
					</div>
					<button class="btn btn-success rounded-pill" type="submit">Save</button>
				</form>
			</div>
				
			</div>
		</div>
	</div>
</body>
</html>