<!DOCTYPE html>
<html
	th:replace="fragments/admin_layout :: admin_layout(title='Song', active_item='Song', main=~{::#main}, scripts=~{::#scripts})">
<body>
	<div class="container-fluid" id="main">
		<h1 class="h3 mb-2 text-gray-800">Song</h1>
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Song List</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i
						class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Menu</div>
						<a class="dropdown-item" th:href="@{/admin/song/create}" href="#">Create</a>
					</div>
				</div>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Enable</th>
                                            <th>Name</th>
                                            <th>User</th>
                                            <th>Created At</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr th:each="song : ${songs}">
                                            <td th:text="${song.id}">Tiger Nixon</td>
                                            <td th:text="${song.enable}">Tiger Nixon</td>
                                            <td th:text="${song.name}">System Architect</td>
                                            <td th:text="${song.user.name}">System Architect</td>
                                            <td th:text="${#dates.format(song.created_at, 'dd/MMM/yyyy HH:mm')}"></td>
                                            <td>
                                            	<a class="btn btn-circle btn-success" th:href="| /admin/song/${song.id}/edit |"><i class="fas fa-pencil-alt"></i></a>
                                            	<form class="d-inline" th:action="|/admin/song/${song.id}/delete |" method="post">
                                            		<button class="btn-admin-delete btn btn-circle btn-danger"><i class="fas fa-trash"></i></button>
                                            	</form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
			</div>
		</div>
	</div>
	<div id="scripts">
	    <!-- Page level custom scripts -->
	    <script th:src="@{/js/admin.js}"></script>
	</div>
</body>
</html>