<!DOCTYPE html>
<head>
	<title>Error</title>
	<style>
		body{
			margin: 0;
			padding: 0;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			font-family: sans-serif;
			padding: 0 20px;
			text-align: center;
		}
		h1{
			color: #E15750;
		}
	</style>
</head>
<body>
	<img height="200" src="https://img.freepik.com/free-vector/tiny-people-examining-operating-system-error-warning-web-page-isolated-flat-illustration_74855-11104.jpg?t=st=1653212518~exp=1653213118~hmac=a3f91cc2dabd2690f80cd70344d990912b4f0477f9b396de0fa997de4d5d2548&w=740"/>
	<h1>!!!System Error!!!</h1>
	<h2 th:text="${message}"></h2>
</body>